survival_analysis/raw/
survival_analysis/processed/
.Rhistory
data/panel_downsize/
*.DS_Store
experiments/
data/raw/
.snakemake/
.Snakefile.swp
__pycache__/
src/models/__pycache__/
figures/
.idea/
dev.py
data/simulated-data
results/

# Temporarily removed
data/tmp/
